* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Handlee', serif;
    /* overflow-x: hidden; */
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    z-index: 9999;
    font-size: 18px;
    background-color: #227894;
    font-weight: 700;
}

.navbar-nav li a {
    color: white;
    transition: all 1s;
}

.navbar-nav li a:hover {
    color: #16325B;
    border: 2px;
    border-radius: 10px;
    background-color: #44494b7a;
    padding: 20px;
}

.navbar .navbar-brand {
    font-size: 24px;
}

/* -------------------home---------------- */
.home {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/images/computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home-container {
    width: 100%;
    height: 100%;
}

.home-container .layer {
    background-color: rgba(61, 92, 110, 0.6);
}

.home-container .layer .home-text h1 {
    font-size: 50px;
    position: relative;
    padding-bottom: 25px;
}

.home-container .layer .home-text h1::after {
    content: "";
    position: absolute;
    background-color: #16325B;
    height: 3px;
    width: 10%;
    bottom: 0;
    left: calc(50% - 20px);
}

.home-container .layer .home-text p {
    color: rgba(255, 255, 255, 0.75);
}

.home-container .layer .home-text button {
    background-color: #16325B;
    border: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.home-container .layer .home-text button a {
    color: white;
}

.home-container .layer .home-text button:hover {
    background-color: #227B94;
}

/* ------------------about---------------- */
.about-section {
    background-color: rgba(21, 86, 124, 0.6);
    color: #16325B;
    background-image: url(../images/computerb.jpg);
}

.about-section .container h2 {
    padding-top: 30px;
    margin-top: 20px;
    font-size: 40px;
    position: relative;
    padding-bottom: 25px;
}

.about-section .container h2::after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 10%;
    bottom: 0;
    right: 45%;
}

.about-section .container p {
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    border: 2px;
    border-radius: 10px;
    background-color: rgba(35, 56, 87, 0.692);
}

.about-section .container button {
    background-color: white;
    border: none;
    transition: all .5s;
}

.about-section .container button a {
    color: rgb(20, 20, 20);
    text-align: center;
    font-weight: bold;
}

.about-section .container button:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

/* -------------------Service------------ */
.title h2 {
    position: relative;
    color: #f1f5f7;
}

.title h2::after {
    content: "";
    position: absolute;
    background-color: #16325B;
    height: 3px;
    width: 10%;
    bottom: 0;
    right: 45%;

}

.Service-section .content i {
    color: white;
    font-size: 40px;
    padding: 10px 0px;
}

.Service-section .content p {
    color: rgb(252, 247, 247);
    
}
.Service-section .content h3{
font-weight: bold;
color:white;
}

    

.Service-section .content{
    border: 2px;
    background-color:rgba(30, 95, 126, 0.692) ;
    border-radius: 10px;
    
}
.Service-section{
    background-image: url(../images/bg-masthead.jpg);
}

/* ---------------projects--------------- */
.projects{
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: rgba(136, 186, 243, 0.692);

    
}
.projects .item-layer {
    background-color: #16325B;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.projects .item:hover .item-layer {
    opacity: 1;
}



/* --------------contact------------- */
.contact{
    margin-top: 50px;
    background-image: url(../images/computer3.jpg);
   

}

.contact h2{
    color: black;
}
.contact p{
    font-size: 20px;
}
.contact .btn-submit {
    background-color: #16325B;
    color: white;
    font-weight: bold;
    transition: all .4s;
}

.contact .btn-submit:hover {
    background-color: #227B94;
}


@media (max-width: 576px) {
    .projects .item-layer {
        background-color: #228b224d;
        opacity: 1;
    }

    .contact .contact-form {
        width: 90% !important;
    }
}